
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    /* border: 1px solid; */
    font-family: 'Poppins', sans-serif;
    height: 700px;
    width: 40rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main{
    border: 2px solid;
    margin: auto;
    width: 85%;
    display: flex;
    /* justify-content: space-around; */
    padding: 2rem;
    border-radius: 15px;
    height: 15rem;
    background-color: rgb(175,244,198);
}
label,input{
    font-size: 1.1rem;
}
input{
    border-radius: 4px;
    padding: 2px;
}
.inp{
    padding-top: 1rem;
}
a{
    text-decoration: none;
    color: brown;
}
p{
    margin: -10px 20px;
    cursor: pointer;
}
p:hover{
    color: red;
}
button{
    position: relative;
    top: -60px;
    border: none;
    padding: 6px;
    cursor: pointer;
    background-color: #444;
    color: rgb(237, 237, 237);
}
button:hover{
    border-radius: 8px;
    font-size: 1rem;
    color: black;
    background-color: rgba(255, 217, 0, 0.826);
}
