

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;   
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}

.row{
    border: 2px solid;
    width: 50%;
    padding: 1rem 6rem;
    min-height: 40rem;
    text-align: center; 
}

.m1{
    font-size: 3.5rem;
}

.box1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}